body {
    background-color: black;
    height: 100%;
}

button, input {
    font-family:'Nunito','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(59, 59, 59);
    color: white;
    background-color: black;
    border-color: white;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    width: 4em;
    height: 2em;
}

button:hover {
    background-color: rgb(66, 66, 66); 
}

#fullscreenbutton {
    position:fixed;
    bottom:0;
    right:0;
    margin:10px;
    z-index: 100;
    width: 3em;
}

input {
    width: 30vw;
    height: 1.5em;
}

* {
    color: white;
    font-family:'Nunito','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html {
    background-color: black;
}
